input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: url('./img/belga.png') no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: url('./img/belga.png') no-repeat;
    background-size: cover;
    cursor: pointer;
  }